<h1>Create a Post</h1>
<form action="/posts" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="content">Content:</label>
  <textarea rows="4" cols="50" name="content"></textarea>
  <button>submit</button>
</form>
