<h1>Submit a New Post</h1>
<form action="/posts" method="post">
<p>Post name:<input type="text" id="name" name="post[name]" />
</p><p>Post content:<textarea id="content"  name="post[content]"></textarea></p><p>
<input type="submit" value="Submit" id="submit" />
</p></form>
