<h1>WRITE YOUR POST</h1>

<form method="POST" action="/posts">
  <input type="text" name="name" placeholder ="your name">
  <input type="text" name="content" placeholder="your post">
  <input type="submit" value="submit">

</form>
